html,
body {
  width: 100%;
  display: table;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.intro {
  height: 500px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(63, 60, 60, 0.7)),
    url("world\ map.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(13, 44, 92);
  height: 100vh;
  display: flex;
  align-items: baseline;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
h1 {
  color: rgb(184, 167, 167);
  font-size: 500%;
  padding: 0 auto;
  display: inline;
  font-family: "Lato", sans-serif;
  text-shadow: 2px 1px black;
}
.logo {
  margin-right: 20px;

  border: none;
}
h2 {
  color: rgb(202, 199, 188);
  padding-left: 150px;
  font-family: "Lato", sans-serif;
  font-weight: lighter;
}
.ip {
  margin: 2em 10em 0 5em;
  display: flex;
  flex-direction: column;
}
h3 {
  font-family: "Lato", sans-serif;
  font-size: 250%;
  color: rgb(33, 56, 105);
  align-self: center;
  text-shadow: 1px 1px black;
}
p {
  font-family: "Lato", sans-serif;
  font-size: 150%;
  color: rgb(7, 10, 29);
  align-self: center;
}
#btn,
#lat,
#long {
  height: 50px;
  width: 200px;
  align-self: center;
  margin-top: 20px;
  color: rgb(202, 199, 188);
  background-color: black;
  font-size: 20px;
  border-radius: 50px;
  border: none;
}
.logo2 {
  height: 2em;
  width: 1.5em;
}
#status,
#lati,
#log {
  font-size: 100px;
  color: rgb(9, 58, 148);
}
.location {
  margin: 2em 10em 0 5em;
  display: flex;
  flex-direction: column;
}
.latitude,
.longitude {
  align-self: flex-start;
  margin: 2em 0 1em 0;
  font-size: 25px;
  font-weight: bold;
}
#lat {
  font-size: 25px;
}
.gif {
  height: 100px;
  width: 100px;
  align-self: flex-end;
}
.warn {
  color: rgb(255, 255, 4);
  border: 2px solid yellow;
  margin: 2em 7em 2em 7em;

  font-size: 20px;
  font-weight: bold;
  background-color: rgb(248, 72, 72);
}
/*media quries*/
@media all and (max-width: 1000px) {
  .content {
    display: flex;
    flex-direction: column;
  }
  .ip,
  .location {
    margin: 0;
  }
  p {
    font-size: 100%;
  }
  .warn {
    margin: 2px;
  }
}
@media all and (max-width: 400px) {
  .location > h3 {
    text-align: center;
  }
  .gif {
    width: 50px;
    height: 50px;
  }
  p {
    margin-left: 1px;
  }

  .intro {
    height: 200%;
  }
}
@media all and (max-width: 600px) {
  h1 {
    font-size: 350%;
    text-align: center;
    padding: 0;
  }
  h2 {
    font-size: 100%;
    text-align: center;
    padding: 0;
    align-items: center;
  }
  .intro {
    height: 1000%;
  }
  .logo {
    display: block;
    height: 50px;
    width: 50px;
  }
  #status,
  #lati,
  #log {
    font-size: 200%;
  }
}
